# =========================
# BidMart Infra Environment
# =========================

# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=bidmart
POSTGRES_USER=bidmart
POSTGRES_PASSWORD=bidmart

# Gateway
GATEWAY_PORT=8080
GATEWAY_IMAGE=ghcr.io/advprog-2026-A20-project/bidmart-gateway:staging
GATEWAY_SERVICE_URL_AUTH=http://auth-service:8081
GATEWAY_SERVICE_URL_LISTING_QUERY=http://listing-query-service:8082
GATEWAY_SERVICE_URL_AUCTION_QUERY=http://auction-query-service:8083
GATEWAY_SERVICE_URL_BIDDING_COMMAND=http://bidding-command-service:8084
GATEWAY_SERVICE_URL_WALLET=http://wallet-service:8085
GATEWAY_SERVICE_URL_NOTIFICATION=http://notification-service:8086

# Frontend
FRONTEND_PORT=5173
FRONTEND_IMAGE=ghcr.io/advprog-2026-A20-project/bidmart-frontend:staging
VITE_API_BASE_URL=http://localhost:8080

# Services & images
AUTH_SERVICE_PORT=8081
AUTH_SERVICE_IMAGE=ghcr.io/advprog-2026-A20-project/bidmart-auth-service:staging

LISTING_QUERY_SERVICE_PORT=8082
LISTING_QUERY_SERVICE_IMAGE=ghcr.io/advprog-2026-A20-project/bidmart-listing-query-service:staging

AUCTION_QUERY_SERVICE_PORT=8083
AUCTION_QUERY_SERVICE_IMAGE=ghcr.io/advprog-2026-A20-project/bidmart-auction-query-service:staging

BIDDING_COMMAND_SERVICE_PORT=8084
BIDDING_COMMAND_SERVICE_IMAGE=ghcr.io/advprog-2026-A20-project/bidmart-bidding-command-service:staging

WALLET_SERVICE_PORT=8085
WALLET_SERVICE_IMAGE=ghcr.io/advprog-2026-A20-project/bidmart-wallet-service:staging

NOTIFICATION_SERVICE_PORT=8086
NOTIFICATION_SERVICE_IMAGE=ghcr.io/advprog-2026-A20-project/bidmart-notification-service:staging

# Optional profile toggle
ENABLE_NOTIFICATION=false
